<div id="h">
    <div class="logo">RAZZI.IO</div>
    <div class="social hidden-xs">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-rss"></i></a>
    </div>
  
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <h1>A whole new generation of recon.</h1>
                <div class="mtb">

                    <form role="form" enctype="plain" ng-hide="waiting || received"> 
                        <input type="url"ng-model="url" class="subscribe-input" 
                            placeholder="Enter a url..." required>
                        <button class='btn btn-conf btn-green' ng-click="submit(url)"
                            type="submit">Look the little bird!</button>
                    </form>

                    <div ng-show="waiting">
                        <h1>Just wait</h1> 
                    </div>

                    <div ng-show="received">
                        <img src="https://cldup.com/JibeUxl1mJ.thumb.png"> </img>
                    </div>



                    
                </div><!--/mt-->
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!-- /H -->

<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>You Can Contact Us</h2>
      <h5>HELLO@RAZZI.IO</h5>

      <p class="mt">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-rss"></i></a>
      </p>
      <h6 class="mt">COPYRIGHT 2015 - RAZZI.IO</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->
