<div id="h">
    <div class="logo">PAPARAZZI.IO</div>
    <div class="social hidden-xs">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-rss"></i></a>
    </div>
  
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <h1>A whole new generation of recon.<br/>Be the first to know when it is ready.</h1>
                <div class="mtb">
                    <form role="form" action="register.php" 
                          method="post" enctype="plain"> 
                        <input type="email" name="email" 
                            class="subscribe-input" 
                            placeholder="Enter your e-mail address..." required>
                        <button class='btn btn-conf btn-green' 
                            type="submit">Tell me when it is ready!</button>
                   </form>
                </div><!--/mt-->
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!-- /H -->

<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>You Can Contact Us</h2>
      <h5>HELLO@PAPARAZZI.IO</h5>

      <p class="mt">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-rss"></i></a>
      </p>
      <h6 class="mt">COPYRIGHT 2015 - PAPARAZZI.IO</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->
