<div id="h">
    <div class="logo">RAZZI.IO</div>
    <div class="social hidden-xs">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-rss"></i></a>
    </div>
  
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <h1>A whole new generation of recon.<br/>Be the first to know when it is ready.</h1>
                <div class="mtb">
                    <div ui-view></div> 
                    
                </div><!--/mt-->
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!-- /H -->

<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>You Can Contact Us</h2>
      <h5>HELLO@RAZZI.IO</h5>

      <p class="mt">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-rss"></i></a>
      </p>
      <h6 class="mt">COPYRIGHT 2015 - RAZZI.IO</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->
